@charset "utf-8";
/* CSS Document */

.title-m{background-color:#1C5A81; height:30px}
.title-m th {color:#FFF; font-size:12px; font-weight:bold; text-align:center; border:1px solid #E6E6E6; padding:5px 0 5px 0
}

table {background-color: #E6E6E6}

.mainTable > tbody > tr > td {border: 1px solid #FFFFFF;}

#member-name{
    position: absolute;
    top: -30px;
    left: 0;
    width: 45px;
    color: #fff;
    font-size: .6em;
    background: #346e7a;
    padding: 5px;
    border-radius: 5px;
}