.chapter-title {
  text-align: center;
  font-family: "DFKai-sb" !important;
  font-weight: bold;
}

.chapter-bold {
  font-family: "DFKai-sb" !important;
  font-weight: bold;
}

.chapter-text {
  font-family: "DFKai-sb" !important;
}

.cadre-history {
  background-color: white;
}

.cover-about {
  text-align: center;
  height: 35vh;
  background-repeat: no-repeat;
  background-size: 100vw 35vh;
  position: relative;
}

.color-overlay-about {
  position: absolute;
  width: 100%;
  height: 35vh;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  opacity: 80%;
  background: linear-gradient(to top, rgba(255, 0, 0, 0) 0%, rgb(0, 0, 0)) 100%;
}
