.card-leader-func {
  margin: 10px;
}

.fixed-col {
  position: sticky;
  left: 0px;
  background-color: rgb(167, 165, 165) !important;
}

.modal-add-list {
  max-height: 70vh;
  overflow-y: auto;
}

.namelist-table {
  background-color: white;
}
