.tansfer-info {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.transfer-title {
  margin: 20px;
}
@media only screen and (max-width: 600px) {
  .transfer-title {
    text-align: center;
  }
}
