.cover {
  text-align: center;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: 100vw 80vh;
  position: relative;
}
.cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 60vh;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  opacity: 80%;
  background: linear-gradient(to top, rgba(255, 0, 0, 0) 0%, rgb(0, 0, 0)) 100%;
}

.cover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.cover-text h1 {
  color: white; /* Color of the text */
  opacity: 0%;
}

.zone-img {
  // width: 30vw;
  height: 35vh;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .photo-gallery {
    background-color: rgb(255, 255, 255);
    height: 40vh;
  }

  .zone-img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
  }
}
