.nav-link {
  color: rgb(137, 231, 145);
}

.nav-link.show {
  color: rgb(211, 235, 30) !important;
}

[aria-expanded="false"].nav-link {
  color: rgb(137, 231, 145);
}

[aria-expanded="false"] .nav-link:hover {
  color: rgb(212, 212, 211);
}

[aria-expanded="false"] .nav-item:hover {
  color: rgb(212, 212, 211);
}

.nav-brand-fourseason {
  color: rgb(62, 146, 23);
  font: {
    family: "微軟正黑體";
    weight: bold;
    size: 20px;
  }
}

.navbar-toggler {
  background-color: rgb(66, 163, 163);
}

.welcome-member {
  margin-right: 50 !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
  color: white;
}

.menu-popper {
  z-index: 9999;
}
