@import "./NavBar.scss";
@import "./Home.scss";
@import "./Camp.scss";
@import "./Finance.scss";
@import "./User.scss";
@import "./About.scss";
@import "./Activity.scss";

.title-bar {
  text-align: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-body {
  flex: 1;
  background-color: #efefef;
}
.content-area {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.loading-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: #9e9e9e;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0.5;
}

.loading {
  height: 10vw;
  width: 10vw;
}

.footer-container {
  background-color: #224534;
  color: white;
  width: 100%;
  bottom: 0;
}

@media only screen and (max-width: 600px) {
  .transfer-title {
    text-align: center;
  }

  .content-area {
    width: 90%;
  }
}

.form-error {
  color: red;
}
